{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/site_media/unger/css/anytimec.css" />
<script type="text/javascript" src="/site_media/unger/js/prototype-1.6.0.3.js"></script>
<script type="text/javascript" src="/site_media/unger/js/anytimec.js"></script>
{% endblock %}

{% block content %}
<form method="get">
<input type="text" value="{{ month }}/{{ year }}" id="date_chooser" name="month"/>
<input type="submit" value="go"/>
<script type="text/javascript">
  new ATWidget("date_chooser", { format: "%m/%Y" });
</script>
</form>
<br>
<table>
<tr class="odd_row"><td></td>
{% for header in headers %}
<td>{{ header }}</td>
{% endfor %}
</tr>
{% for entries in entry_sets %}
<tr class="{% cycle "even_row" "odd_row" %}">
<td>{{ entries.heading }}</td>
{% for entry in entries.values %}
<td>{{ entry }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
<br>
<form method="post">
{% for category in categories %}
<input type="text" name="{{ category.name }}"> {{ category.name }}<br>
{% endfor %}
<input type="submit" value="Submit!">
</form>

<h3>Tips</h3>
<ul>
	<li>For now, please hold on to your receipts in case something happens</li>
	<li>Enter in as many expenses at once as you like!  You can always add more later.</li>
	<li>Have multiple expenses in the same category?  Separate them by spaces.</li>
	<li>Make a mistake?  Fix it by entering a negative value!</li>
	<li>Make an anti-mistake?  Fix it by entering a positive value!</li>
	<li>For the love of money, I still don't care about taxes.  If your entire receipt is toward a single category, save yourself the headache and enter the entire total once.</li>
	<li>The answer to all your complaints is "It will get better soon."</li>
</ul>
{% endblock %}
